.Overall{
    margin:0;
    padding:0;
    box-sizing:border-box;
    align-items:center;

}

.Formclass{
    display:flex;
    flex-direction:column;
    align-content: center;
}
.inputstyle{
    height:100px;
    width:200px;
    color:black;
    border:2px solid black;
    border-radius:10px;

}

.addtask{
    height:40px;
    width:30px;
    background-color:blanchedalmond;
    color:black;

}

